<div class="application-template">
  <div class="container">
    {{outlet}}
  </div>
  <div class="footer">
    <p class="text-muted">Made with ♥ for the <a href="http://www.sweettoothrewards.com" target="_blank">Sweet Tooth</a> SAILS team</p>
  </div>
  {{outlet modal}}
</div>
