.soundboard-template {

  .heading {

    .row {
      margin-top: 20px;
      height: 110px;

      .left {
        text-align: left;
        padding: 32px;

        h2 {
          margin: 0;
        }
      }

      .right {
        text-align: right;
        padding: 28px;
      }
    }
  }

  // This keeps our text and buttons vertical aligned
  .table > tbody > tr > td {
    line-height: 36px;
  }

  .table {
    th.actions {
      width: 100px;
      text-align: right;
    }

    td input {
      line-height: normal;
      padding-top: 8px;
    }

    .file-name {
      padding-left: 8px;
    } 
  }
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}