<div class="index-template">
  <div class="jumbotron">
    <h1>Welcome to Hubspeak!</h1>
    <p>Give your Hubspot workflows a voice</p>
    <p><a class="btn btn-primary btn-lg" role="button" {{action 'createSoundboard'}}>Create your soundboard</a></p>
  </div>
</div>